<a href="https://colab.research.google.com/github/bhagyashridumbre/r-descriptive-statistics/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Change Column Type**

In [62]:
import pandas as pd
import numpy as np

In [12]:
a = [['a','1.2','4.2'],['b','70','0.03'],['x','5','0']]
df= pd.DataFrame(a)
df

   0    1     2
0  a  1.2   4.2
1  b   70  0.03
2  x    5     0

In [ ]:
#Converting datatypes into pandas
#1.to_numeric()- provides functionality to safely convert non-numeric types (e.g. strings) to a suitable numeric
# type.
#This function will try to change non-numeric objects (such as strings) into integers or floating-point numbers as appropriate.
s = pd.Series(["8",6,"7.5",3,"0.9"]) #mixed string and number
s

In [ ]:
my_series = pd.to_numeric(s)  # convert everything to float values
my_series

In [24]:
#Convert Series
my_series1 = pd.to_numeric(my_series)
my_series1

0    8.0
1    6.0
2    7.5
3    3.0
4    0.9
dtype: float64

In [29]:
#convert Column "a" of a DataFrame
#df["a"] = pd.to_numeric(df["a"])

In [30]:
#Convert all columns of DataFrame
# df = df.apply(pd.to_numeric) # convert all columns of dataframe

In [31]:
# convert just columns "a" and "b"
# df[["a","b"]] = df[["a","b"]].aply(pd.to_numeric)

Error Handeling

In [ ]:
# to_numeric() also takes an errors keyword argument that allows you to force non-numeric values to be NaN, or simply ignore columns containing these values.
s = pd.Series(['1','2','4.7','pandas','10'])
s

In [ ]:
pd.to_numeric(s) # or pd.to_numeric(s, errors='raise)
ValueError: Unable to parse string

In [ ]:
#Rather than fail, we might want 'pandas' to be considered a missing/bad numeric value. We can coerce invalid values to NaN as follows using the errors keyword argument:
pd.to_numeric(s, errors='coerce')

In [ ]:
#The third option for errors is just to ignore the operation if an invalid value is encountered
pd.to_numeric(s, errors='ignore')
# original Series is returned untouched

In [ ]:
#This last option is particularly useful for converting your entire DataFrame, but don't know which of our columns can be converted reliably to a numeric type
df.apply(pd.to_numeric, errors='ignore')

Downcasting

In [ ]:
# By default, conversion with to_numeric() will give you either an int64 or float64 dtype (or whatever integer width is native to your platform).
# That's usually what you want, but what if you wanted to save some memory and use a more compact dtype, like float32, or int8?
# to_numeric() gives you the option to downcast to either 'integer', 'signed', 'unsigned', 'float'.
s = pd.Series([1,2,-7])
s

In [ ]:
# Downcasting to 'integer' uses the smallest possible integer that can hold the values:
pd.to_numeric(s, downcast='integer')

In [ ]:
pd.to_numeric(s, downcast='float')

Datetime

In [32]:
#pandas.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=True)[source]
#Convert argument to datetime.
#Parameters: #arg : int, float, str, datetime, list, tuple, 1-d array, Series, DataFrame/dict-like
# The object to convert to a datetime. 
#If a DataFrame is provided, the method expects minimally the following columns: "year", "month", "day".
#errors:
#{‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’
# If 'raise', then invalid parsing will raise an exception.
# If 'coerce', then invalid parsing will be set as NaT.
# If 'ignore', then invalid parsing will return the input.

In [34]:
df = pd.DataFrame({'year': [2015, 2016],'month': [2,3],'day': [4,5]})
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [36]:
s = pd.Series(['3/11/2000','3/12/2000','3/13/2000'] * 1000)
s.head()

0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

In [ ]:
%timeit pd.to_datetime(s,infer_datetime_format=True)

In [ ]:
%timeit pd.to_datetime(s,infer_datetime_format=False)

to_timedelta

In [40]:
# pandas.to_timedelta(arg, unit=None, errors='raise')[source]
# Timedeltas are absolute differences in times, expressed in difference units (e.g. days, hours, minutes, seconds)
# Parameters: arg: str, timedelta, list-like or Series
# The data to be converted to timedelta.
# unit: str, optional 
# Denotes the unit of the arg for numeric arg. Defaults to "ns".
# ‘W’ # ‘D’ / ‘days’ / ‘day’ # ‘hours’ / ‘hour’ / ‘hr’ / ‘h’ # ‘m’ / ‘minute’ / ‘min’ / ‘minutes’ / ‘T’
# ‘S’ / ‘seconds’ / ‘sec’ / ‘second’ # ‘ms’ / ‘milliseconds’ / ‘millisecond’ / ‘milli’ / ‘millis’ / ‘L’
# ‘us’ / ‘microseconds’ / ‘microsecond’ / ‘micro’ / ‘micros’ / ‘U’ # ‘ns’ / ‘nanoseconds’ / ‘nano’ / ‘nanos’ / ‘nanosecond’ / ‘N
# errors: {‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’
# If ‘raise’, then invalid parsing will raise an exception.
# If ‘coerce’, then invalid parsing will be set as NaT.
# If ‘ignore’, then invalid parsing will return the input.

Parsing single string to TimeDelta

In [41]:
from pandas._libs.tslibs.timedeltas import Timedelta
pd.to_timedelta('1 days 06:05:01.00003')

Timedelta('1 days 06:05:01.000030')

In [42]:
pd.to_timedelta('15.5us')

Timedelta('0 days 00:00:00.000015500')

Parsing list or Array of strings

In [43]:
pd.to_timedelta(['1 days 06:05:01.00003', '15.5us','nan'])

TimedeltaIndex(['1 days 06:05:01.000030', '0 days 00:00:00.000015500', NaT], dtype='timedelta64[ns]', freq=None)

Convert numbers by specifying the unit keyword argument

In [54]:
# pd.to_timedelta(np.arrange(5), unit='s')
# pd.to_timedelta(np.arrange(5), unit='d)

**astype()**

In [55]:
# The astype() method enables you to be explicit about the dtype you want your DataFrame or Series to have. It's very versatile in that you can try and go from one type to any other.
# convert all DataFrame columns to the int64 dtype
df = df.astype(int)

In [ ]:
#convert column "a" to int64 dtype and "b" to complex type
df = df.astype({"a": int, "b": complex})

In [ ]:
# convert Series to Python strings
s = s.astype(str)

In [ ]:
# convert Series to categorical type - see docs for more details
s = s.astype('category')

converting integer of one type to another type

In [ ]:
s = pd.Series([1,2,-7])
s

In [ ]:
s.astype(np.uint8)

Infer_objects

In [ ]:
#  infer_objects() for converting columns of a DataFrame that have an object datatype to a more specific type (soft conversions).
df = pd.DataFrame({'a':[7, 1, 5], 'b':['3','2','1']}, dtype='object')
df.dtypes

In [ ]:
df = df.infer_objects()
df.dtypes

convert_dtypes()

In [ ]:
# convert_dtypes() to convert Series and DataFrame columns to the best possible dtype that supports the pd.NA missing value.
df.convert_dtypes().dtypes

In [ ]:
df.convert_dtypes(infer_objects=False).dtypes