<a href="https://colab.research.google.com/github/bhagyashridumbre/r-descriptive-statistics/blob/main/Python_third_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SET THEORY**

In [ ]:
## Union
s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [ ]:
#INTERSECTION
s1 = {1,2,3}
s2 = {3,4,5}
s1 & s2

{3}

In [ ]:
s1.intersection(s2)

{3}

In [ ]:
## Difference
s1 = {1,2,3,4,5,6}
s2 = {5,6,7}
s1-s2

{1, 2, 3, 4}

In [ ]:
s2-s1

{7}

In [ ]:
s1.difference(s2)

{1, 2, 3, 4}

In [ ]:
s2.difference(s1)

{7}

In [ ]:
## symmetric difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s2.issubset(s1)

True

**Regular Expressions**

In [ ]:
# is text manipulation library in python
import re

In [ ]:
str1 = "Welcome to python session"

In [ ]:
# findall is used to return the no. of occureance of matched string in the given string.
x = re.findall('o', str1)
x

['o', 'o', 'o', 'o']

In [ ]:
y = re.findall('Welcome',str1)
y

['Welcome']

In [ ]:
y = re.findall('abc',str1)
y

[]

In [ ]:
# Search() method is used to display the matched string
x = re.search('e',str1)
x

In [ ]:
y = re.search('python',str1)
y

In [ ]:
x = re.search("abc",str1)
x

In [ ]:
str1 = 'Hello world'
z = re.split(" ", str1)
z

['Hello', 'world']

In [ ]:
z = re.split("",str1)
print(z)

['', 'H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '']

In [ ]:
str2 = 'Hi python Hello Analytics'
x = re.sub('python','R',str2)
x

'Hi R Hello Analytics'

In [ ]:
# Starting char only
x = re.match('Hi',str2)
x

In [ ]:
x = re.match("Hello", str2)
x

**Getting input from users**

In [ ]:
name = input('Enter your name:')
name

Enter your name:Bhagyashri

'Bhagyashri'

In [63]:
age = input('Enter your age:')
print(age)
print(age*2)

Enter your age:10
10
1010

In [61]:
input('Hello,pls state your name:')

Hello,pls state your name:Shri

'Shri'

In [66]:
age = input('Enter your age:')
age

Enter your age:10

'10'

In [67]:
x = '10'
int(x) #type casting

10

In [69]:
age = int(input('Enter your age:'))
age

Enter your age:10

10

In [70]:
type(age)

int

**Print Statement in Python**

In [71]:
print('Hello World')

Hello World

In [73]:
name1 = input('Enter your name:')
name1

Enter your name:Shri

'Shri'

In [75]:
print('Hello',name1)

Hello Shri

In [77]:
print(name,'is',age,'years old')

Bhagyashri is 10 years old

In [78]:
# Standard way of using print statement
print('{0} is {1} years old'.format(name,age))

Bhagyashri is 10 years old

In [80]:
print(f'{name} is {age} years old') # f-string method

Bhagyashri is 10 years old

**Conditional Statements**

In [ ]:
# If
num = 5
if num > 0:
  print(num,"is a positive number.")
print("This is always printed.")

In [87]:
# If else:
num = -5
if (num > 0):
  print(num,"is a positive number.")
else:
  print(num, "is a negative number.")
print("This is always printed.")

-5 is a negative number.
This is always printed.

In [ ]:
# define a function with conditional statement
# logic to identify highest of three values.
def max_num(num1,num2,num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3
print(max_num(400,60,1150))

In [90]:
# Nested If
num = int(input("Enter a number: "))

if num >= 0:
  if num == 0:
    print("Zero")
  else:
    print("Positive number")
else:
  print("Negative number")

Enter a number: -10
Negative number

In [91]:
num = int(input("Enter a number: "))
if num == 0:
  print("Zero")
elif num >= 0:
  print("Positive number")
else:
  print("Negative number")

Enter a number: -3
Negative number

**FOR LOOP**

In [ ]:
# for loop
# for each item in sequence, last item reached, no - body of loop, yes, exit.

In [ ]:
# Nested for loop
for i in range(0,3):
  for j in range(0,3):
    print(i,j)