<a href="https://colab.research.google.com/github/bhagyashridumbre/r-descriptive-statistics/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Slicing

In [ ]:
str1 = 'hello world'

In [ ]:
str1[1:3]

'el'

In [ ]:
str1[0:5]

'hello'

In [ ]:
list1 = ['java','python','c','vba','abc']
list1[1:3]

['python', 'c']

In [ ]:
list1[:4]

['java', 'python', 'c', 'vba']

In [ ]:
list1[:]

['java', 'python', 'c', 'vba', 'abc']

In [ ]:
list_new = ['apple','banana','abc',123,'spam','python']
list_new[1:4]

['banana', 'abc', 123]

In [ ]:
list_new[1:4:2]

['banana', 123]

In [ ]:
list1

['java', 'python', 'c', 'vba', 'abc']

In [ ]:
list1[::2]

['java', 'c', 'abc']

In [ ]:
list1[::-1]

['abc', 'vba', 'c', 'python', 'java']

In [ ]:
list1

['java', 'python', 'c', 'vba', 'abc']

In [ ]:
list1[4:1:-1]

['abc', 'vba', 'c']

In [ ]:
str1 = "Welcome"
str1

'Welcome'

In [ ]:
str1[::-1]

'emocleW'

In [ ]:
list1[0],list1[1]

('java', 'python')

In [ ]:
list(enumerate(str1))

[(0, 'W'), (1, 'e'), (2, 'l'), (3, 'c'), (4, 'o'), (5, 'm'), (6, 'e')]

In [ ]:
list(enumerate(list_new))

[(0, 'apple'), (1, 'banana'), (2, 'abc'), (3, 123), (4, 'spam'), (5, 'python')]

In [ ]:
num = 1234
str(num)
revers_num = str(num)[::-1]
print(revers_num)

4321

num1 = 3456
reverse_num = 0
while num1 != 0:
    digit = num1 % 10
    reverse_num = reverse_num * 10 +  digit
    num1 //= 10

print("reverse_num:", str(reverse_num))

## Python Program to Check if a Number is Positive, Negative or 0

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 10
Positive number

In [ ]:
num = float(input("Enter a number: "))
if num >= 0:
   if num == 0:
       print("Zero")
   else:
       print("Positive number")
else:
   print("Negative number")

Enter a number: -1
Negative number

## Python Program to Check if a Number is Odd or Even

In [ ]:
# Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 4
4 is Even

In [ ]:
# Python program to check if year is a leap year or not

year = 2000

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

2000 is a leap year

## Python Program to Find the Largest Among Three Numbers

In [ ]:
# Python program to find the largest number among the three input numbers

# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12

# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

## Python Program to Check Prime Number

### Using a flag variable

In [ ]:
# Program to check if a number is prime or not

num = 29

# To take input from the user
#num = int(input("Enter a number: "))

# define a flag variable
flag = False

# prime numbers are greater than 1
if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

# check if flag is True
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

29 is a prime number

### Using a for...else statement

In [ ]:
# Program to check if a number is prime or not

num = 407

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

407 is not a prime number
11 times 37 is 407

## Python Program to Print all Prime Numbers in an Interval

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

## Python Program to Find the Factorial of a Number

###  Factorial of a Number using Loop

In [ ]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

### Factorial of a Number using Recursion

In [ ]:
# Python program to find the factorial of a number provided by the user
# using recursion

def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))


# change the value for a different result
num = 7

# to take input from the user
# num = int(input("Enter a number: "))

# call the factorial function
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 7 is 5040

## Python Program to Display the multiplication Table

In [ ]:
# Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

## Python range()

In [ ]:
# create a sequence of numbers from 0 to 3
numbers = range(4)

# iterating through the sequence of numbers
for i in numbers:
    print(i)

0
1
2
3

In [ ]:
#range(start, stop, step)

### range() with Stop Argument

In [ ]:
# numbers from 0 to 3 (4 is not included)
numbers = range(4)
print(list(numbers))    # [0, 1, 2, 3]

# if 0 or negative number is passed, we get an empty sequence
numbers = range(-4)
print(list(numbers))    # []

[0, 1, 2, 3]
[]

In [ ]:
# numbers from 2 to 4 (5 is not included)
numbers = range(2, 5)
print(list(numbers))    # [2, 3, 4]

# numbers from -2 to 3 (4 is not included)
numbers = range(-2, 4)    
print(list(numbers))    # [-2, -1, 0, 1, 2]

# returns an empty sequence of numbers
numbers = range(4, 2) 
print(list(numbers))    # []

[2, 3, 4]
[-2, -1, 0, 1, 2, 3]
[]

### range() with Start, Stop and Step Arguments

In [ ]:
# numbers from 2 to 10 with increment 3 between numbers
numbers = range(2, 10, 3)
print(list(numbers))    # [2, 5, 8]

# numbers from 4 to -1 with increment of -1
numbers = range(4, -1, -1)    
print(list(numbers))    # [4, 3, 2, 1, 0]

# numbers from 1 to 4 with increment of 1
# range(0, 5, 1) is equivalent to range(5)
numbers = range(0, 5, 1) 
print(list(numbers))    # [0, 1, 2, 3, 4]

[2, 5, 8]
[4, 3, 2, 1, 0]
[0, 1, 2, 3, 4]

### range() in for Loop

In [ ]:
# iterate the loop 5 times
for i in range(5):
    print(i, 'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

## Python repr()

In [ ]:
# The repr() function returns a printable representation of the given object.
numbers = [1, 2, 3, 4, 5]

# create a printable representation of the list
printable_numbers = repr(numbers)
print(printable_numbers)

[1, 2, 3, 4, 5]

###  Implement __repr__() for custom objects

In [ ]:
# Internally, repr()function calls __repr__() of the given object.

# You can easily implement/override __repr__() so that repr() works differently.
class Person:
    name = 'Adam'

    def __repr__(self):
        return repr('Hello ' + self.name )

print(repr(Person()))

'Hello Adam'

### Python reversed()

In [ ]:
# The reversed() method computes the reverse of a given sequence object and returns it in the form of a list.
seq_string = 'Python'

# reverse of a string
print(list(reversed(seq_string)))

['n', 'o', 'h', 't', 'y', 'P']

### Python reversed() with Built-In Sequence Objects

In [ ]:
seq_tuple = ('P', 'y', 't', 'h', 'o', 'n')

# reverse of a tuple object
print(list(reversed(seq_tuple)))

seq_range = range(5, 9)

# reverse of a range
print(list(reversed(seq_range)))

seq_list = [1, 2, 4, 3, 5]

# reverse of a list
print(list(reversed(seq_list)))

['n', 'o', 'h', 't', 'y', 'P']
[8, 7, 6, 5]
[5, 3, 4, 2, 1]

### reversed() with Custom Objects

In [ ]:
class Vowels:
    vowels = ['a', 'e', 'i', 'o', 'u']

    def __reversed__(self):
        return reversed(self.vowels)

v = Vowels()

# reverse a custom object v
print(list(reversed(v)))

['u', 'o', 'i', 'e', 'a']

## Python round()

In [ ]:
# The round() function returns a floating-point number rounded to the specified number of decimals.
number = 13.46

# round 13.46 to the nearest integer
rounded_number = round(number)
print(rounded_number)

13

In [ ]:
# How round() works in Python?
# for integers
print(round(10))

# for floating point
print(round(10.7))

# even choice
print(round(5.5))

10
11
6

In [ ]:
# Round a number to the given number of decimal places
print(round(2.665, 2))
print(round(2.675, 2))

2.67
2.67

In [ ]:
from decimal import Decimal

# normal float
num = 2.675
print(round(num, 2))

# using decimal.Decimal (passed float as string for precision)
num = Decimal('2.675')
print(round(num, 2))

2.67
2.68

## Python set()

In [ ]:
# The set() function creates a set in Python.
list_numbers = [1, 2, 3, 4, 2, 5]

# create set from list
numbers_set = set(list_numbers)
print(numbers_set)

{1, 2, 3, 4, 5}

### Create sets from string, tuple, list, and range

In [ ]:
# empty set
print(set())

# from string
print(set('Python'))

# from tuple
print(set(('a', 'e', 'i', 'o', 'u')))

# from list
print(set(['a', 'e', 'i', 'o', 'u']))

# from range
print(set(range(5)))

set()
{'o', 'n', 't', 'y', 'h', 'P'}
{'o', 'i', 'u', 'a', 'e'}
{'o', 'i', 'u', 'a', 'e'}
{0, 1, 2, 3, 4}

### Create sets from another set, dictionary and frozen set

In [ ]:
# from set
print(set({'a', 'e', 'i', 'o', 'u'}))

# from dictionary
print(set({'a':1, 'e': 2, 'i':3, 'o':4, 'u':5}))

# from frozen set
frozen_set = frozenset(('a', 'e', 'i', 'o', 'u'))
print(set(frozen_set))

{'o', 'e', 'i', 'a', 'u'}
{'o', 'i', 'a', 'u', 'e'}
{'o', 'e', 'i', 'a', 'u'}

### Create set() for a custom iterable object

In [ ]:
class PrintNumber:
    def __init__(self, max):
        self.max = max

    def __iter__(self):
        self.num = 0
        return self

    def __next__(self):
        if(self.num >= self.max):
            raise StopIteration
        self.num += 1
        return self.num

# print_num is an iterable
print_num = PrintNumber(5)

# creating a set
print(set(print_num))

{1, 2, 3, 4, 5}

## Python setattr()

In [ ]:
# The setattr() function sets the value of the attribute of an object.
class Student:
  marks = 88
  name = 'Sheeran'

person = Student()

# set value of name to Adam
setattr(person, 'name', 'Adam')
print(person.name)

# set value of marks to 78
setattr(person, 'marks', 78)
print(person.marks)

Adam
78

In [ ]:
# How setattr() works in Python?
class Person:
    name = 'Adam'
    
p = Person()
print('Before modification:', p.name)

# setting name to 'John'
setattr(p, 'name', 'John')

print('After modification:', p.name)

Before modification: Adam
After modification: John

In [ ]:
# When the attribute is not found in setattr()
class Person:
    name = 'Adam'
    
p = Person()

# setting attribute name to John
setattr(p, 'name', 'John')
print('Name is:', p.name)

# setting an attribute not present in Person
setattr(p, 'age', 23)
print('Age is:', p.age)

Name is: John
Age is: 23

## Python slice()

In [ ]:
# The slice() function returns a slice object that is used to slice any sequence (string, tuple, list, range, or bytes).
text = 'Python Programing'

# get slice object to slice Python
sliced_text = slice(6)
print(text[sliced_text])

Python

In [ ]:
# Create a slice object for slicing
# contains indices (0, 1, 2)
result1 = slice(3)
print(result1)

# contains indices (1, 3)
result2 = slice(1, 5, 2)
print(slice(1, 5, 2))

slice(None, 3, None)
slice(1, 5, 2)

In [ ]:
# Get substring using slice object
 Program to get a substring from the given string 

py_string = 'Python'

# stop = 3
# contains 0, 1 and 2 indices
slice_object = slice(3) 
print(py_string[slice_object])  # Pyt

# start = 1, stop = 6, step = 2
# contains 1, 3 and 5 indices
slice_object = slice(1, 6, 2)
print(py_string[slice_object])   # yhn

IndentationError: unexpected indent (Temp/ipykernel_2332/775954781.py, line 2)

In [ ]:
#Get substring using negative index
py_string = 'Python'

# start = -1, stop = -4, step = -1
# contains indices -1, -2 and -3
slice_object = slice(-1, -4, -1)

print(py_string[slice_object])   # noh

noh

In [ ]:
# Get sublist and sub-tuple
py_list = ['P', 'y', 't', 'h', 'o', 'n']
py_tuple = ('P', 'y', 't', 'h', 'o', 'n')

# contains indices 0, 1 and 2
slice_object = slice(3)
print(py_list[slice_object]) # ['P', 'y', 't']

# contains indices 1 and 3
slice_object = slice(1, 5, 2)
print(py_tuple[slice_object]) # ('y', 'h')

['P', 'y', 't']
('y', 'h')

In [ ]:
# Get sublist and sub-tuple using negative index
py_list = ['P', 'y', 't', 'h', 'o', 'n']
py_tuple = ('P', 'y', 't', 'h', 'o', 'n')

# contains indices -1, -2 and -3
slice_object = slice(-1, -4, -1) 
print(py_list[slice_object])  # ['n', 'o', 'h']

# contains indices -1 and -3
slice_object = slice(-1, -5, -2)
print(py_tuple[slice_object]) # ('n', 'h')

['n', 'o', 'h']
('n', 'h')

In [ ]:
# Using Indexing Syntax for Slicing
py_string = 'Python'

# contains indices 0, 1 and 2
print(py_string[0:3])  # Pyt

# contains indices 1 and 3
print(py_string[1:5:2]) # yh

Pyt
yh

## Python sorted()

In [ ]:
# The sorted() function sorts the elements of a given iterable in a specific order (ascending or descending) and returns it as a list.
numbers = [4, 2, 12, 8]

sorted_numbers = sorted(numbers)
print(sorted_numbers)

[2, 4, 8, 12]

### Sort string, list, and tuple

In [ ]:
# vowels list
py_list = ['e', 'a', 'u', 'o', 'i']
print(sorted(py_list))

# string
py_string = 'Python'
print(sorted(py_string))

# vowels tuple
py_tuple = ('e', 'a', 'u', 'o', 'i')
print(sorted(py_tuple))

['a', 'e', 'i', 'o', 'u']
['P', 'h', 'n', 'o', 't', 'y']
['a', 'e', 'i', 'o', 'u']

### Sort in descending order

In [ ]:
# set
py_set = {'e', 'a', 'u', 'o', 'i'}
print(sorted(py_set, reverse=True))

# dictionary
py_dict = {'e': 1, 'a': 2, 'u': 3, 'o': 4, 'i': 5}
print(sorted(py_dict, reverse=True))

# frozen set
frozen_set = frozenset(('e', 'a', 'u', 'o', 'i'))
print(sorted(frozen_set, reverse=True))

['u', 'o', 'i', 'e', 'a']
['u', 'o', 'i', 'e', 'a']
['u', 'o', 'i', 'e', 'a']

### Sort the list using sorted() having a key function

In [ ]:
# take the second element for sort
def take_second(elem):
    return elem[1]


# random list
random = [(2, 2), (3, 4), (4, 1), (1, 3)]

# sort list with key
sorted_list = sorted(random, key=take_second)

# print list
print('Sorted list:', sorted_list)

Sorted list: [(4, 1), (2, 2), (1, 3), (3, 4)]

### Sorting with multiple keys

In [ ]:
# Nested list of student's info in a Science Olympiad
# List elements: (Student's Name, Marks out of 100, Age)

participant_list = [
    ('Alison', 50, 18),
    ('Terence', 75, 12),
    ('David', 75, 20),
    ('Jimmy', 90, 22),
    ('John', 45, 12)
]

In [ ]:
# Nested list of student's info in a Science Olympiad
# List elements: (Student's Name, Marks out of 100 , Age)
participant_list = [
    ('Alison', 50, 18),
    ('Terence', 75, 12),
    ('David', 75, 20),
    ('Jimmy', 90, 22),
    ('John', 45, 12)
]


def sorter(item):
    # Since highest marks first, least error = most marks
    error = 100 - item[1]
    age = item[2]
    return (error, age)


sorted_list = sorted(participant_list, key=sorter)
print(sorted_list)

[('Jimmy', 90, 22), ('Terence', 75, 12), ('David', 75, 20), ('Alison', 50, 18), ('John', 45, 12)]

In [ ]:
# Nested list of student's info in a Science Olympiad
# List elements: (Student's Name, Marks out of 100 , Age)
participant_list = [
    ('Alison', 50, 18),
    ('Terence', 75, 12),
    ('David', 75, 20),
    ('Jimmy', 90, 22),
    ('John', 45, 12)
]

sorted_list = sorted(participant_list, key=lambda item: (100-item[1], item[2]))
print(sorted_list)

[('Jimmy', 90, 22), ('Terence', 75, 12), ('David', 75, 20), ('Alison', 50, 18), ('John', 45, 12)]

## Python str()

In [ ]:
# The str() method returns the string representation of a given object.
# string representation of Adam
print(str('Adam'))

Adam

In [ ]:
# Python() String
# string representation of Luke
name = str('Luke')
print(name)

# string representation of an integer 40
age = str(40)
print(age)

# string representation of a numeric string 7ft
height = str('7ft')
print(height)

Luke
40
7ft

In [ ]:
# str() with Byte Objects
# declare a byte object
b = bytes('pythn', encoding='utf-8')

# convert a utf-8 byte object to ascii with errors ignored
print(str(b, encoding='ascii', errors='ignore'))

# convert a utf-8 byte object to ascii with strict error
print(str(b, encoding='ascii', errors='strict'))

pythn

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 4: ordinal not in range(128)

## Python sum()

In [ ]:
# The sum() function adds the items of an iterable and returns the sum.
marks = [65, 71, 68, 74, 61]

# find sum of all marks
total_marks = sum(marks)
print(total_marks)

339

In [ ]:
# Working of Python sum()
numbers = [2.5, 3, 4, -5]

# start parameter is not provided
numbers_sum = sum(numbers)
print(numbers_sum)

# start = 10
numbers_sum = sum(numbers, 10)
print(numbers_sum)

4.5
14.5

## Python tuple()

In [ ]:
# In Python, a tuple is an immutable sequence type. One of the ways of creating tuple is by using the tuple() construct.
# Create tuples using tuple()
t1 = tuple()
print('t1 =', t1)

# creating a tuple from a list
t2 = tuple([1, 4, 6])
print('t2 =', t2)

# creating a tuple from a string
t1 = tuple('Python')
print('t1 =',t1)

# creating a tuple from a dictionary
t1 = tuple({1: 'one', 2: 'two'})
print('t1 =',t1)

t1 = ()
t2 = (1, 4, 6)
t1 = ('P', 'y', 't', 'h', 'o', 'n')
t1 = (1, 2)

## Python type()

In [ ]:
# The type() function either returns the type of the object or returns a new type object based on the arguments passed.
prime_numbers = [2, 3, 5, 7]

# check type of prime_numbers
result = type(prime_numbers)
print(result)

<class 'list'>

In [ ]:
#ype() with Object parameter
numbers_list = [1, 2]
print(type(numbers_list))

numbers_dict = {1: 'one', 2: 'two'}
print(type(numbers_dict))

class Foo:
    a = 0

foo = Foo()
print(type(foo))

<class 'list'>
<class 'dict'>
<class '__main__.Foo'>

In [ ]:
# type() With 3 Parameters
o1 = type('X', (object,), dict(a='Foo', b=12))
print(type(o1))

print(vars(o1))

class test:
  a = 'Foo'
  b = 12
  
o2 = type('Y', (test,), dict(a='Foo', b=12))
print(type(o2))
print(vars(o2))

<class 'type'>
{'a': 'Foo', 'b': 12, '__module__': '__main__', '__dict__': <attribute '__dict__' of 'X' objects>, '__weakref__': <attribute '__weakref__' of 'X' objects>, '__doc__': None}
<class 'type'>
{'a': 'Foo', 'b': 12, '__module__': '__main__', '__doc__': None}

## Python vars()

In [ ]:
# The vars() method returns the __dict__ (dictionary mapping) attribute of the given object.
# returns __dict__ of a list
print(vars(list))

{'__repr__': <slot wrapper '__repr__' of 'list' objects>, '__hash__': None, '__getattribute__': <slot wrapper '__getattribute__' of 'list' objects>, '__lt__': <slot wrapper '__lt__' of 'list' objects>, '__le__': <slot wrapper '__le__' of 'list' objects>, '__eq__': <slot wrapper '__eq__' of 'list' objects>, '__ne__': <slot wrapper '__ne__' of 'list' objects>, '__gt__': <slot wrapper '__gt__' of 'list' objects>, '__ge__': <slot wrapper '__ge__' of 'list' objects>, '__iter__': <slot wrapper '__iter__' of 'list' objects>, '__init__': <slot wrapper '__init__' of 'list' objects>, '__len__': <slot wrapper '__len__' of 'list' objects>, '__getitem__': <method '__getitem__' of 'list' objects>, '__setitem__': <slot wrapper '__setitem__' of 'list' objects>, '__delitem__': <slot wrapper '__delitem__' of 'list' objects>, '__add__': <slot wrapper '__add__' of 'list' objects>, '__mul__': <slot wrapper '__mul__' of 'list' objects>, '__rmul__': <slot wrapper '__rmul__' of 'list' objects>, '__contains__': <slot wrapper '__contains__' of 'list' objects>, '__iadd__': <slot wrapper '__iadd__' of 'list' objects>, '__imul__': <slot wrapper '__imul__' of 'list' objects>, '__new__': <built-in method __new__ of type object at 0x00007FFD720D0AF0>, '__reversed__': <method '__reversed__' of 'list' objects>, '__sizeof__': <method '__sizeof__' of 'list' objects>, 'clear': <method 'clear' of 'list' objects>, 'copy': <method 'copy' of 'list' objects>, 'append': <method 'append' of 'list' objects>, 'insert': <method 'insert' of 'list' objects>, 'extend': <method 'extend' of 'list' objects>, 'pop': <method 'pop' of 'list' objects>, 'remove': <method 'remove' of 'list' objects>, 'index': <method 'index' of 'list' objects>, 'count': <method 'count' of 'list' objects>, 'reverse': <method 'reverse' of 'list' objects>, 'sort': <method 'sort' of 'list' objects>, '__class_getitem__': <method '__class_getitem__' of 'list' objects>, '__doc__': 'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'}

### vars() with No __dict__ Attribute Argument

In [ ]:
string = "Jones"

# vars() with a string
print(vars(string))

TypeError: vars() argument must have __dict__ attribute

### vars() with a custom object

In [ ]:
class Fruit:
  def __init__(self, apple = 5, banana = 10):
    self.apple = apple
    self.banana = banana
  
eat = Fruit()

# returns __dict__ of the eat object
print(vars(eat))

{'apple': 5, 'banana': 10}

### Python zip()

In [ ]:
# The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.
languages = ['Java', 'Python', 'JavaScript']
versions = [14, 3, 6]

result = zip(languages, versions)
print(list(result))

[('Java', 14), ('Python', 3), ('JavaScript', 6)]

In [ ]:
# iterables- can be built-in iterables (like: list, string, dict), or user-defined iterables
# Python zip()
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

# No iterables are passed
result = zip()

# Converting iterator to list
result_list = list(result)
print(result_list)

# Two iterables are passed
result = zip(number_list, str_list)

# Converting iterator to set
result_set = set(result)
print(result_set)

[]
{(3, 'three'), (2, 'two'), (1, 'one')}

In [ ]:
# Different number of iterable elements
numbersList = [1, 2, 3]
str_list = ['one', 'two']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

# Notice, the size of numbersList and numbers_tuple is different
result = zip(numbersList, numbers_tuple)

# Converting to set
result_set = set(result)
print(result_set)

result = zip(numbersList, str_list, numbers_tuple)

# Converting to set
result_set = set(result)
print(result_set)

{(1, 'ONE'), (2, 'TWO'), (3, 'THREE')}
{(2, 'two', 'TWO'), (1, 'one', 'ONE')}

In [ ]:
# Unzipping the Value Using zip()
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)

c, v =  zip(*result_list)
print('c =', c)
print('v =', v)

[('x', 3), ('y', 4), ('z', 5)]
c = ('x', 'y', 'z')
v = (3, 4, 5)

### Python __import__()

In [ ]:
# The __import__() is a function that is called by the import statement.

# The syntax of the __import__() function is:  __import__(name, globals=None, locals=None, fromlist=(), level=0)
# How __import()__ works?
mathematics = __import__('math', globals(), locals(), [], 0)
print(mathematics.fabs(-2.5))

2.5

In [ ]:
import math
math.fabs(x)

NameError: name 'x' is not defined

### Python super()

In [ ]:
# The super() builtin returns a proxy object (temporary object of the superclass) that allows us to access methods of the base class.
class Animal(object):
  def __init__(self, animal_type):
    print('Animal Type:', animal_type)
    
class Mammal(Animal):
  def __init__(self):

    # call superclass
    super().__init__('Mammal')
    print('Mammals give birth directly')
    
dog = Mammal()

Animal Type: Mammal
Mammals give birth directly

In [ ]:
# super() with Single Inheritance
class Mammal(object):
  def __init__(self, mammalName):
    print(mammalName, 'is a warm-blooded animal.')
    
class Dog(Mammal):
  def __init__(self):
    print('Dog has four legs.')
    super().__init__('Dog')
    
d1 = Dog()

Dog has four legs.
Dog is a warm-blooded animal.

In [ ]:
#  changing base class to CanidaeFamily
class Dog(CanidaeFamily):
  def __init__(self):
    print('Dog has four legs.')

    # no need to change this
    super().__init__('Dog')

NameError: name 'CanidaeFamily' is not defined

In [ ]:
# super() with Multiple Inheritance
class Animal:
  def __init__(self, Animal):
    print(Animal, 'is an animal.');

class Mammal(Animal):
  def __init__(self, mammalName):
    print(mammalName, 'is a warm-blooded animal.')
    super().__init__(mammalName)
    
class NonWingedMammal(Mammal):
  def __init__(self, NonWingedMammal):
    print(NonWingedMammal, "can't fly.")
    super().__init__(NonWingedMammal)

class NonMarineMammal(Mammal):
  def __init__(self, NonMarineMammal):
    print(NonMarineMammal, "can't swim.")
    super().__init__(NonMarineMammal)

class Dog(NonMarineMammal, NonWingedMammal):
  def __init__(self):
    print('Dog has 4 legs.');
    super().__init__('Dog')
    
d = Dog()
print('')
bat = NonMarineMammal('Bat')

Dog has 4 legs.
Dog can't swim.
Dog can't fly.
Dog is a warm-blooded animal.
Dog is an animal.

Bat can't swim.
Bat is a warm-blooded animal.
Bat is an animal.