<a href="https://colab.research.google.com/github/bhagyashridumbre/r-descriptive-statistics/blob/main/Python_While_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**While Loop**

In [ ]:
# initialize sum1 and counter
n = 4
sum1 = 0
i = 1

while i <= n:  # while CONDITION = True
  sum1 = sum1 + i
  i = i + 1    # update counter
  # i += 1
# print the sum
print("The sum is", sum1)

# while True:
  # print('something')

The sum is 10

In [ ]:
# While Loop with else
# Example to illustrate
# the use of else statement
# with the while Loop

counter = 0
while counter < 3:
  print("Inside Loop")
  counter = counter + 1
else:
  print("Inside else")

Inside Loop
Inside Loop
Inside Loop
Inside else

In [ ]:
# Ex:1
count = 0
while count < 5:
  print("Digit:", count)
# count = count + 1 # incrementing the counter
  count += 1 # shortform for incrementing by a value of 1
print("Thank you")

Digit: 0
Digit: 1
Digit: 2
Digit: 3
Digit: 4
Thank you

**Functions**

In [ ]:
def myfunc():
  print("Hello")

In [ ]:
myfunc() # calling/invoking a function

Hello

In [ ]:
def myfunc1():
  return "Hello"

In [ ]:
x = myfunc1()
print(x)

Hello

In [ ]:
def myfunc(name): # a single parameter
  print("Hello", name)

In [ ]:
myfunc("Bhagyashri") # invoke and call a function

Hello Bhagyashri

In [ ]:
# return is different than print
# return store the value of variable
# print only print the value
# return means over.

In [ ]:
def squares(x):
  return x**2

In [ ]:
squares(3)

In [ ]:
res = squares(25)
res

625

**Lambda Function**

In [35]:
# def squares(x):
# return x ** 2
# anonnymus function
# is for lazy people
# in which no indentation, no return.
# it have only input and output
# no name for this func.
# lambda is only keyword
fn = lambda x : x**2

In [37]:
fn(4)

16

In [39]:
type(fn)

function

In [41]:
lst = ['c++','c','python','java','mysql123']
lst

['c++', 'c', 'python', 'java', 'mysql123']

In [43]:
lst.sort() # sort by ascending order
lst

['c', 'c++', 'java', 'mysql123', 'python']

In [46]:
# another method of sorting list
# passing one function inside another function.
lst.sort(key = lambda x: len(x))
lst

['c', 'c++', 'java', 'python', 'mysql123']