<a href="https://colab.research.google.com/github/bhagyashridumbre/r-descriptive-statistics/blob/main/tuple%26Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# in list we can change the elements
# in tuple we can not change the elements

In [1]:
# Different types of tuples
# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

Tuple packing

In [2]:
# tuple created without parenthesis
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple
print(a)      # 3
print(b)      # 4.6
print(c)      # dog

(3, 4.6, 'dog')
3
4.6
dog

In [3]:
my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>
# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple))  # <class 'tuple'>
# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

Access Tuple elements

In [4]:
# Indexing
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

p
t
s
4

In [5]:
# Negative indexing
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
# Output: 't'
print(my_tuple[-1])
# Output: 'p'
print(my_tuple[-6])

t
p

In [6]:
# Slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [7]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])
# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)

# Tuples can be reassigned
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [8]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))
# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

Deleting a tuple

In [ ]:
# Deleting tuples
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuple[3]
# Can delete an entire tuple
del my_tuple
# NameError: name 'my_tuple' is not defined
print(my_tuple)

Tuple methods

In [10]:
# methods that add or remove are not available with tuples
my_tuple = ('a', 'p', 'p', 'l', 'e',)
print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('l'))  # Output: 3

2
3

Other tuple operations

In [11]:
# tuple membership test
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)
# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True

In [12]:
#  Iterating Through a Tuple
for name in ('John', 'Kate'):
    print("Hello", name)

Hello John
Hello Kate

In [ ]:
# tuple advantages over list
# We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
# Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.
# Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
# If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

String

In [ ]:
# it is a sequence of characters
# Computers do not deal with characters, they deal with numbers (binary)
# This conversion of character to a number is called encoding, and the reverse process is decoding
# ASCII and Unicode are some of the popular encodings used.
# In Python, a string is a sequence of Unicode characters.

In [1]:
# defining strings in Python
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           the world of Python

In [2]:
#Accessing string characters in Python
str = 'programiz'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am

delete or change string

In [5]:
# Strings are immutable. This means that elements of a string cannot be changed once they have been assigned.
my_string = 'programiz'
my_string[5] = 'a'
my_string = python
my_string
del my_string[1]
my_string

TypeError: ignored

Concatenation of Two or More Strings

In [6]:
# Joining of two or more strings into a single one is called concatenation.
# + , *
# Python String Operations
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [7]:
# Iterating Through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [10]:
# String Membership Test
'a' in 'program'
'at' not in 'program'

True

Built-in functions to Work with Python

In [11]:
# enumerate(): The enumerate() function returns an enumerate object. It contains the index and value of all the items in the string as pairs. 
# This can be useful for iteration.
# len() returns the length (number of characters) of the string.

str = 'cold'
# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

#character count
print('len(str) = ', len(str))

list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(str) =  4

Python String Formatting

In [ ]:
# Escape Sequence
# If we want to print a text like He said, "What's there?", we can neither use single quotes nor double quotes.
# This will result in a SyntaxError as the text itself contains both single and double quotes.
print("He said, "What's there?"")

In [ ]:
# One way to get around this problem is to use triple quotes. Alternatively, we can use escape sequences.
# An escape sequence starts with a backslash and is interpreted differently

# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

In [ ]:
# list of escape sequences supported by python
# \newline:Backlash and newline ignored
# \\ : Backlash
# \' : Single quote
# \'' : Double quote
# \a : ASCII Bell
# \b : ASCII Backspace
# \f : ASCII Formfeed
# \n : ASCII Linefeed
# \r : ASCII Carriage return
# \t : ASCII Horizontal Tab
# \v : ASCII vertical tab
# \ooo : character with octal value ooo
# \xHH : character with hexadecimal value HH

In [14]:
print("C:\\Python32\\Lib")
#C:\Python32\Lib

print("This is printed\nin two lines")
# This is printed
# in two lines

print("This is \x48\x45\x58 representation")
# This is HEX representation

C:\Python32\Lib
This is printed
in two lines
This is HEX representation

In [16]:
# Raw String to ignore escape sequence
print("This is \x61 \ngoodexample")
print(r"This is \x61 \ngoodexample")

This is a
goodexample
This is \x61 \ngoodexample

In [17]:
# The format() Method for Formatting Strings
# Python string format() method

# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John